.sidebarChat {
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
  
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat__info > p {
  color: #667781;
}
a {
  text-decoration: none !important;
  color: black;
}

.sidebarChat__info {
  width: 100%;
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.sidebarChat__info h2 {
  grid-area: 1 / 1 / 2 / 2;
}

#time {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
}

#message {
  grid-area: 2 / 1 / 3 / 2;
}

.sidebarChat__info .delete {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: end;
}
